footer{
  padding: 43px 0 47px 0;
  background-color: black;
  color: white;

  .info-footer{
    display: flex;
    max-width: 1112px;
    margin: 0 auto;

    .info1{
      .menu{
        margin-top: 30px;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: flex-end;

        font-family: 'Alata';
        color: white;

        li{
          padding-right: 34px;
        }

        a{
          color: white;

          &:hover{
            border-bottom: 2px white solid;
          }
          
        }
      }
    }
  
    .info2{
      width: 100%;


      .rs{
        display: flex;
        justify-content: flex-end;
        font-size: 1.5rem;

        .liste-reseaux-sociaux{
          display: flex;
          flex-direction: row;
          
          li{
            padding-left: 15px;
          }
        }
      }

      .cr{
        font-family: 'Alata';
        color: #838383;
        margin-top: 30px;
        display: flex;
        justify-content: flex-end;
        height: 30%;
        align-items: flex-end;
      }
    }
  }
}