

.hero{
  background: url(../images/desktop/image-hero.jpg) ;
  background-size: cover;
  height: 40.625rem;
  @media screen and (max-width : 1114px){
    background-position: center;
  }

  .hero-contenu{
    background-color: rgba(0,0,0, 0.5);
    height: 100%;
    
    .hero-center{
      max-width: 1112px;
      margin: 0 auto;
      @media screen and (max-width : 1114px){
        padding: 0 7.68%;
      }
    }

    .hamburger{
      width: 100%;
      height: 100%;
      @media screen and (min-width : 1114px){
        display: none;
      }

      .menu-icon{
        font-size: 2rem;
        color: white;
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
      .overlay{
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        right: 0;
        top: 0;
        background-color: #000000;
        overflow-x: hidden;
        transition: 0.5s;


        .closebtn{
          position: absolute;
          top: 25px;
          right: 45px;
          font-size: 60px;
          color: white;
        }

        .overlay-content{
          padding: 0 7.68%;
          position: relative;
          top: 30%;
          width: 100%;

          .menu-phone{
            font-family: 'Josefin Sans', sans-serif;
            font-size: 3rem;
            text-transform: uppercase;

            li{
              padding-bottom: 30px;

              a{
                color: white;
              }
            }
          }
        }
      }
    }
    .nav{
      max-width: 100%;
      padding-top: 60px;
      display: flex;
      margin-bottom: 8.0625rem;
      @media screen and (max-width : 1114px){
        padding-top: 40px;
      }
      

      .menu{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: flex-end;

        font-family: 'Alata';
        color: white;
        @media screen and (max-width : 1114px){
          display: none;
        }

        li{
          padding-left: 34px;
        }

        a{
          color: white;

          &:hover{
            border-bottom: 2px white solid;
          }
          
        }
      }
    }

    .titre-site{
      max-width: 660px;
      border:white 3px solid;
      padding: 45px 0px 45px 45px;
      @media screen and (max-width : 700px){
        padding: 25px 0 25px 25px;
        // width: 100%;

      }

      h1{
        font-size: 4.5rem;
        font-family: 'Josefin Sans', sans-serif;
        text-transform: uppercase;
        color: white;
        @media screen and (max-width : 647px){
          font-size: 3.5rem;
        }
        @media screen and (max-width : 475px){
          font-size: 2rem;
        }
        @media screen and (max-width : 307px){
          font-size: 1.5rem;
        }
      }
    }
  }
}