

.hero{
  background: url(../images/desktop/image-hero.jpg) ;
  background-size: cover;
  height: 40.625rem;

  .hero-contenu{
    background-color: rgba(0,0,0, 0.5);
    height: 100%;
    
    .hero-center{
      width: 1112px;
      margin: 0 auto;
    }

    .nav{
      padding-top: 60px;
      display: flex;
      margin-bottom: 8.0625rem;

      .menu{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: flex-end;

        font-family: 'Alata';
        color: white;

        li{
          padding-left: 34px;
        }

        li a{
          color: white;
          
        }
      }
    }

    .titre-site{
      width: 660px;
      border:white 3px solid;
      padding: 45px 0px 45px 45px;

      h1{
        font-size: 4.5rem;
        font-family: 'Josefin Sans', sans-serif;
        text-transform: uppercase;
        color: white;
      }
    }
  }
}