 *,
::before,
::after {
  box-sizing: border-box;
}

@import '_fonts';
@import '_header';
@import '_footer';
@import '_responsive';



.contenu{
  max-width: 1112px;
  margin: 0 auto;
  @media screen and (max-width : 1114px){
    padding: 0 7.68%;
  }

  .img-responsive{
    max-width: 100%;
    height: auto;
  }
  
  .titre{
    font-size: 3rem;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    @media screen and (max-width : 1114px){
      font-size: 2rem;
      text-align: center;
    }
  }
  

  p{
    font-family: 'Alata';
    font-size: 1rem;
    color: #656565;
    line-height: 1.7;
    margin-top: 43px;
    @media screen and (max-width : 1114px){
      text-align: center;
    }
  }

  .presentation{
    position: relative;
    margin: 160px 0 180px 0;
    @media screen and (max-width : 1114px){
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 150px 0 150px 0;
    }

    
    .vr-img{
      width: 750px;
    }

    .presentation-box{
      position: absolute;
      bottom: 0;
      right: 0;
      background: white;
      width: 580px;
      padding: 100px 0 0 100px;

      @media screen and (max-width : 1114px){
        max-width: 100%;
        position: relative;
        padding: 0;
        margin-top: 96px;
      }

    }
  }

  .creations{
    
    padding-bottom: 184px;

    .button-mobile{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 64px;
      @media screen and (min-width : 1114px){
        display: none;
      }

      .btn-mobile{
        text-transform: uppercase;
        background-color: transparent;
        border: 2px #808080 solid;
        letter-spacing: 3px;
        font-family: 'Josefin Sans';
        font-weight: bold;
        color: black;
        padding: 15px 38px;
        transition: 0.3s ;

        &:hover{
          background-color: black;
          border-color: transparent;
          color: white;
        }

      }
    }

    .creations-band{
      display: flex;

      @media screen and (max-width : 1114px){
        flex-direction: column;
      }

      .titre{
        width: 100%;
      }


      .button{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;

        @media screen and (max-width : 1114px){
          display: none;
        }

        .btn{
          text-transform: uppercase;
          background-color: transparent;
          border: 2px #808080 solid;
          letter-spacing: 3px;
          font-family: 'Josefin Sans';
          font-weight: bold;
          color: black;
          padding: 15px 38px;
          transition: 0.3s ;

          &:hover{
            background-color: black;
            border-color: transparent;
            color: white;
          }

        }
      }
      
    }

    .galerie{
      margin-top: 94px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      @media screen and (max-width : 1114px){
        flex-direction: column;
        margin-top: 17.12%;
      }

      .box{
        height: 450px;
        width: 256px;
        display: flex;
        align-items: flex-end;
        color: white;
        transition: 0.3s;

        @media screen and (max-width : 1114px){
          width: 100%;
          height: 241px;
          background-size: cover;
          background-position-y: 0;
        }

        // &:hover{
        //   transform: scale(0.98);
        //   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4), 0 6px 20px 0 rgba(0,0,0,0.19);
        //   transition: 0.3s;
        // }


        .box-titre{
          text-transform: uppercase;
          font-family: 'Josefin sans';
          font-size: 1.875rem;
          padding: 40px;
        }
      }

      .earth{
        background-image: linear-gradient(rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.8) 100%), url(../images/desktop/image-deep-earth.jpg);
      }

      .arcade{
        background-image: linear-gradient(rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.8) 100%), url(../images/desktop/image-night-arcade.jpg);
      }

      .soccer{
        background-image: linear-gradient(rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.8) 100%), url(../images/desktop/image-soccer-team.jpg);
      }

      .grid{
        background-image: linear-gradient(rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.8) 100%), url(../images/desktop/image-grid.jpg);
      }

      .from-up{
        background-image: linear-gradient(rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.8) 100%), url(../images/desktop/image-from-above.jpg);
      }

      .borealis{
        background-image: linear-gradient(rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.8) 100%), url(../images/desktop/image-pocket-borealis.jpg);
      }

      .curiosity{
        background-image: linear-gradient(rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.8) 100%), url(../images/desktop/image-curiosity.jpg);
      }

      .fisheye{
        background-image: linear-gradient(rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.8) 100%), url(../images/desktop/image-fisheye.jpg);
      }

      .col1{
        margin-bottom: 30px;
      }

      .col2{
        @media screen and (max-width : 1114px){
          margin-bottom: 30px;
          &:last-child{
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
