@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hero {
  background: url(../images/desktop/image-hero.jpg);
  background-size: cover;
  height: 40.625rem;
}

@media screen and (max-width: 1114px) {
  .hero {
    background-position: center;
  }
}

.hero .hero-contenu {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
}

.hero .hero-contenu .hero-center {
  max-width: 1112px;
  margin: 0 auto;
}

@media screen and (max-width: 1114px) {
  .hero .hero-contenu .hero-center {
    padding: 0 7.68%;
  }
}

.hero .hero-contenu .hamburger {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 1114px) {
  .hero .hero-contenu .hamburger {
    display: none;
  }
}

.hero .hero-contenu .hamburger .menu-icon {
  font-size: 2rem;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .hero-contenu .hamburger .overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  right: 0;
  top: 0;
  background-color: #000000;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.hero .hero-contenu .hamburger .overlay .closebtn {
  position: absolute;
  top: 25px;
  right: 45px;
  font-size: 60px;
  color: white;
}

.hero .hero-contenu .hamburger .overlay .overlay-content {
  padding: 0 7.68%;
  position: relative;
  top: 30%;
  width: 100%;
}

.hero .hero-contenu .hamburger .overlay .overlay-content .menu-phone {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 3rem;
  text-transform: uppercase;
}

.hero .hero-contenu .hamburger .overlay .overlay-content .menu-phone li {
  padding-bottom: 30px;
}

.hero .hero-contenu .hamburger .overlay .overlay-content .menu-phone li a {
  color: white;
}

.hero .hero-contenu .nav {
  max-width: 100%;
  padding-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8.0625rem;
}

@media screen and (max-width: 1114px) {
  .hero .hero-contenu .nav {
    padding-top: 40px;
  }
}

.hero .hero-contenu .nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-family: 'Alata';
  color: white;
}

@media screen and (max-width: 1114px) {
  .hero .hero-contenu .nav .menu {
    display: none;
  }
}

.hero .hero-contenu .nav .menu li {
  padding-left: 34px;
}

.hero .hero-contenu .nav .menu a {
  color: white;
}

.hero .hero-contenu .nav .menu a:hover {
  border-bottom: 2px white solid;
}

.hero .hero-contenu .titre-site {
  max-width: 660px;
  border: white 3px solid;
  padding: 45px 0px 45px 45px;
}

@media screen and (max-width: 700px) {
  .hero .hero-contenu .titre-site {
    padding: 25px 0 25px 25px;
  }
}

.hero .hero-contenu .titre-site h1 {
  font-size: 4.5rem;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  color: white;
}

@media screen and (max-width: 647px) {
  .hero .hero-contenu .titre-site h1 {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 475px) {
  .hero .hero-contenu .titre-site h1 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 307px) {
  .hero .hero-contenu .titre-site h1 {
    font-size: 1.5rem;
  }
}

footer {
  padding: 43px 0 47px 0;
  background-color: black;
  color: white;
}

@media screen and (max-width: 1114px) {
  footer {
    padding: 95px 0 108px 0;
  }
}

footer .info-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1112px;
  margin: 0 auto;
}

@media screen and (max-width: 1114px) {
  footer .info-footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

footer .info-footer .info1 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 1114px) {
  footer .info-footer .info1 .logo-loopstudios {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

footer .info-footer .info1 .menu {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  font-family: 'Alata';
  color: white;
}

@media screen and (max-width: 1114px) {
  footer .info-footer .info1 .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 80px;
  }
}

footer .info-footer .info1 .menu li {
  padding-right: 34px;
}

@media screen and (max-width: 1114px) {
  footer .info-footer .info1 .menu li {
    padding-right: 0;
    padding-bottom: 50px;
  }
  footer .info-footer .info1 .menu li:last-child {
    padding-bottom: 0;
  }
}

footer .info-footer .info1 .menu a {
  color: white;
}

footer .info-footer .info1 .menu a:hover {
  border-bottom: 2px white solid;
}

footer .info-footer .info2 {
  width: 100%;
}

footer .info-footer .info2 .rs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 1.5rem;
}

@media screen and (max-width: 1114px) {
  footer .info-footer .info2 .rs {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 2rem;
  }
}

footer .info-footer .info2 .rs .liste-reseaux-sociaux {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer .info-footer .info2 .rs .liste-reseaux-sociaux li {
  padding-left: 15px;
}

footer .info-footer .info2 .cr {
  font-family: 'Alata';
  color: #838383;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 30%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media screen and (max-width: 1114px) {
  footer .info-footer .info2 .cr {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.contenu {
  max-width: 1112px;
  margin: 0 auto;
}

@media screen and (max-width: 1114px) {
  .contenu {
    padding: 0 7.68%;
  }
}

.contenu .img-responsive {
  max-width: 100%;
  height: auto;
}

.contenu .titre {
  font-size: 3rem;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
}

@media screen and (max-width: 1114px) {
  .contenu .titre {
    font-size: 2rem;
    text-align: center;
  }
}

.contenu p {
  font-family: 'Alata';
  font-size: 1rem;
  color: #656565;
  line-height: 1.7;
  margin-top: 43px;
}

@media screen and (max-width: 1114px) {
  .contenu p {
    text-align: center;
  }
}

.contenu .presentation {
  position: relative;
  margin: 160px 0 180px 0;
}

@media screen and (max-width: 1114px) {
  .contenu .presentation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 150px 0 150px 0;
  }
}

.contenu .presentation .vr-img {
  width: 750px;
}

.contenu .presentation .presentation-box {
  position: absolute;
  bottom: 0;
  right: 0;
  background: white;
  width: 580px;
  padding: 100px 0 0 100px;
}

@media screen and (max-width: 1114px) {
  .contenu .presentation .presentation-box {
    max-width: 100%;
    position: relative;
    padding: 0;
    margin-top: 96px;
  }
}

.contenu .creations {
  padding-bottom: 184px;
}

.contenu .creations .button-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 64px;
}

@media screen and (min-width: 1114px) {
  .contenu .creations .button-mobile {
    display: none;
  }
}

.contenu .creations .button-mobile .btn-mobile {
  text-transform: uppercase;
  background-color: transparent;
  border: 2px #808080 solid;
  letter-spacing: 3px;
  font-family: 'Josefin Sans';
  font-weight: bold;
  color: black;
  padding: 15px 38px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.contenu .creations .button-mobile .btn-mobile:hover {
  background-color: black;
  border-color: transparent;
  color: white;
}

.contenu .creations .creations-band {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1114px) {
  .contenu .creations .creations-band {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contenu .creations .creations-band .titre {
  width: 100%;
}

.contenu .creations .creations-band .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

@media screen and (max-width: 1114px) {
  .contenu .creations .creations-band .button {
    display: none;
  }
}

.contenu .creations .creations-band .button .btn {
  text-transform: uppercase;
  background-color: transparent;
  border: 2px #808080 solid;
  letter-spacing: 3px;
  font-family: 'Josefin Sans';
  font-weight: bold;
  color: black;
  padding: 15px 38px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.contenu .creations .creations-band .button .btn:hover {
  background-color: black;
  border-color: transparent;
  color: white;
}

.contenu .creations .galerie {
  margin-top: 94px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 1114px) {
  .contenu .creations .galerie {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 17.12%;
  }
}

.contenu .creations .galerie .box {
  height: 450px;
  width: 256px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 1114px) {
  .contenu .creations .galerie .box {
    width: 100%;
    height: 241px;
    background-size: cover;
    background-position-y: 0;
  }
}

.contenu .creations .galerie .box .box-titre {
  text-transform: uppercase;
  font-family: 'Josefin sans';
  font-size: 1.875rem;
  padding: 40px;
}

.contenu .creations .galerie .earth {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(40%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.8))), url(../images/desktop/image-deep-earth.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.8) 100%), url(../images/desktop/image-deep-earth.jpg);
}

.contenu .creations .galerie .arcade {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(40%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.8))), url(../images/desktop/image-night-arcade.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.8) 100%), url(../images/desktop/image-night-arcade.jpg);
}

.contenu .creations .galerie .soccer {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(40%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.8))), url(../images/desktop/image-soccer-team.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.8) 100%), url(../images/desktop/image-soccer-team.jpg);
}

.contenu .creations .galerie .grid {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(40%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.8))), url(../images/desktop/image-grid.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.8) 100%), url(../images/desktop/image-grid.jpg);
}

.contenu .creations .galerie .from-up {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(40%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.8))), url(../images/desktop/image-from-above.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.8) 100%), url(../images/desktop/image-from-above.jpg);
}

.contenu .creations .galerie .borealis {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(40%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.8))), url(../images/desktop/image-pocket-borealis.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.8) 100%), url(../images/desktop/image-pocket-borealis.jpg);
}

.contenu .creations .galerie .curiosity {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(40%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.8))), url(../images/desktop/image-curiosity.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.8) 100%), url(../images/desktop/image-curiosity.jpg);
}

.contenu .creations .galerie .fisheye {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(40%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.8))), url(../images/desktop/image-fisheye.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.8) 100%), url(../images/desktop/image-fisheye.jpg);
}

.contenu .creations .galerie .col1 {
  margin-bottom: 30px;
}

@media screen and (max-width: 1114px) {
  .contenu .creations .galerie .col2 {
    margin-bottom: 30px;
  }
  .contenu .creations .galerie .col2:last-child {
    margin-bottom: 0;
  }
}
/*# sourceMappingURL=style.css.map */